body
{
  background-color: beige;
  font-family: Verdana;
  margin: 0;
  color: black;
}

main
{
  width: 90%;
  margin: 0 auto 100px auto;
}

header {    
  background-image: url("./img/hatter.png");
  height: 200px;
  position: relative;
  padding: 0;
  margin: auto;
  background-size: cover;
}

header h1 {
  font-family: 'Courgette', cursive;  
  color: white;
  font-size: 80px;
  margin: 0;
  padding: 0;  
  position: absolute;
  top: 0;
  left: 150px;  
}

header nav {  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

header ul{     
  margin: 0;
}

nav a {
  display: inline-block;
  padding: 10px; 
  color: orange;
  font-size: 24px;
  font-variant: small-caps;  
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 0 3px black;
}
nav li
{
  list-style-type: none;
  display: inline;
}

nav a:hover
{
  background-color: orange;
  color:white;
}

nav
{
  background-color: rgb(255,255,255,0.5);
}

#kartyak {
  width: 100%;    
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kartya {
  width: 272px;
  margin: 5px;
  padding: 15px;   
  background-color: rgba(255,255,255,.5);  
  border-width: 5px;
  border-color: white;
  border-style: solid; 
  border-radius: 30px; 
}

.kartya img {
  width: 272px;
  height: 340px;  
  border-radius: 15px;
}

footer {
 font-family: 'Courgette', cursive;    
  margin: 0;
  padding: 0; 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 48px;
  color: white;
  background-color: rgba(255,165,0,.8);  
}

footer p
{
  text-align: center;
  margin:0;
}